@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;700&display=swap');

 *{
   margin: 0;
   box-sizing: border-box;
 }
 
 body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   background-color: bisque;
   background-size: cover;
   background-repeat: repeat;
 }
 
 .main-box {
   left: 50%;
   top: 50%;
   position: absolute;
   transform: translate(-50%, -50%) !important;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #d24489;
   width: 45%;
   height: 60vh;
   padding: 40px;
   border-radius: 70px;
   color: #FFFFFF;
   margin-top: 2em;
 }
 
 h1 {
   color: #FFFFFF;
   margin-bottom: 3rem;
   font-weight: 800;
 }
 
 h2{
   text-align: center;
   color: #d24489;
   margin-top: 2rem;
 }
 
 .navbar{
   background-color: antiquewhite;
   width: 100%;
   height: 3rem;
 }
 
 .navbar li{
   list-style: none;
   position: relative;
 }
 
 .navbar li a{
   text-decoration: none;
   margin: 0px 15px;
   color: rgb(78, 75, 75);
   /* float: right;
   display: block; */
   padding: 14px 16px;
   font-size: 1.2em;
   font-weight: 700;
 }
 
 .output{
   font-size: 3rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   margin-bottom: 2rem;
 }
 
 button{
   margin: 10px;
   padding: 15px;
   font-family: 'Montserrat', sans-serif;
   font-size: 1em;
   font-weight: 700;
   border-radius: 20px;
   border: none;
 }
 
 .increase{
   background-color: #EE9C6C;
 }
 
 .decrease{
   background-color: #F5B994;
 }
 
 .reset{
   background-color: antiquewhite;
 }
 
 .box{
   left: 50%;
   top: 50%;
   position: absolute;
   transform: translate(-50%, -50%) !important;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgb(190, 174, 152);
   width: 45%;
   height: 60vh;
   padding: 40px;
   border-radius: 70px;
   color: black;
   margin-top: 2em;
 }
 
 .reducer-head{
   color: black;
 }
 
 .add{
   background-color: #cb317b;
 
 }
 
 .subtract{
   background-color: #cb317b;
 }
 
 button:hover{
   background-color: #FFFFFF;
   cursor: pointer;
 }
 
 .navbar li a:hover{
   color: #d24489;
 }
 
 #mobile-view{
   display: none;
 }
 
 #mobile-view i {
   color: #FFFFFF;
 }
 
 .wrong{
   text-align: center;
   font-weight: 700;
   color: red;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 
 .testPage{
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   text-align: center;
   background-color: #cb317b;
   padding: 20px;
   border-radius: 30px;
 }
 
 .not-found {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   text-align: center;
   background-color: #cb317b;
   padding: 20px;
   border-radius: 30px;
   color: #fff;
 }
 
 
 @media screen and (max-width: 768px) {
     .nav-links  {
       display: flex;
       flex-direction: column;
     }
 
     .navbar {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
       position: sticky;
       top: 50px;
       right: -300px;
       width: 200px;
       height: 100vh;
       background: #d24489;
       padding: 40px 0 0 10px;
       /* z-index: 1; */
     }
 
     .navbar li a:hover{
       color: #FFFFFF;
     }
     .navbar-links {
       margin-bottom: 25px;
     }
 
     .mobile-view {
       display: block;
     }
 
     .mobile-view i {
       font-size: 20px;
     }
 
     .btn-container {
       display: flex;
       flex-direction: column;
     }
 
     .main-box {
       height: 55%;
       margin: 30px;
     }
 }